
:root{
    --root-size: 100px;
    --fg-color:white;
    }

body{
    background-color: black;
    color: white;
    font-size: var(--root-size);
    }

.block{
    background-color: white;
    color: black;
    border-image: linear-gradient(to right, #FF4B3B 0%,#FAE442 50%, #2AA8F2 100%) 1;
    border-width: 10px;
    border-style: solid;
    margin-bottom: 60px;
    padding: 20px; 

    }      

h1{
    font-size: 48px;
    font-family: Jomolhari;
    padding-top: 7rem;
    margin: 1rem;
    }

h2{
    font-size: 22px;
    font-family: Jomolhari;
    margin: 1rem;
    line-height: 2rem;
    text-align: left;
    }

h3{
    font-size: 18px;
    font-family: Inter;
    }

h4{
    font-size: 36px;
    margin: 1rem;
    padding-top: 1rem;

}

#details{
    font-size: 12px;
    margin: 1rem;
    font-weight:300;
}

p, blockquote{
    font-size: 16px;
    font-family: Inter;
    line-height: 1.5;
    }

p{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    }

blockquote{
    font-style: italic;
    padding-left: 20px;    
    padding-right: 20px;
    margin-left: 2rem;
    border-left: .5rem solid;
    border-image: linear-gradient(to bottom, #FF4B3B 0%,#FAE442 50%, #2AA8F2 100%) 1;
    }

#summary{
    margin: 1rem;
    padding-bottom: 50px;
    font-weight: 200;
}

aside{
    display:flex;
}

.body{
    padding-bottom: 20px;
}

span{
    text-decoration-thickness: 3px;
    }

.r{
    text-decoration: 3px underline;
    text-decoration-color: #CE5A67; 
    }

.y{
    text-decoration: underline;

    text-decoration-color: #E9B824;
    }

.o{
    text-decoration: underline;

    text-decoration-color: #F79327;   
    }

.g{
    text-decoration: underline;
    text-decoration-color: #A6CF98;
    }
        
.b{
    text-decoration: underline;
    text-decoration-color: #006BFF;
    }

.brown{
    text-decoration: underline;
    text-decoration-color: #654520;
    }

.bg{
    text-decoration: underline;
    text-decoration-color: #3EC9C1;
    }

.lg{
    text-decoration: underline;
    text-decoration-color: #F6F5F5;
    }

a {
    color: #2AA8F2; 
    transition: color 0.3s ease, border-bottom-color 0.3s ease; 
    }

a:hover:active {
    color: darkblue; 
    }   

.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 10px;
    margin-right: .5rem;
    margin-left: 1rem;
    background-color: red;
    }

aside{
    display: flex;
    align-items:first baseline;

}

hr{
    border-image: linear-gradient(to right, #FF4B3B 0%,#FAE442 50%, #2AA8F2 100%) 1;
    border-bottom: 10px solid transparent;
    margin: 1rem;
    }

.header{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    }

#medium{
    float: left;
    }

#author{
    float: right;
    }
