
:root{
    --root-size: 100px;
    --fg-color:white;
}

body{
    background-color: white;
    color: black;
    font-size: var(--root-size);
}

h1{
    font-size: 64px;
    font-family: Jomolhari;
}

h2{
    font-size: 32px;
    font-family: Jomolhari;
}

h3{
    font-size: 18px;
    font-family: Inter;
}

p, blockquote{
    font-size: 16px;
    font-family: Inter;
}

article{
    display: flex;
}

@media(min-width:600px){
    :root{
        --root-size: 50px;
    }
    body{
        padding: 20px;

    }
    a{
        color: black;
        font-style: italic;
    }
    blockquote{
        font-style: italic;
        line-height: 1.5;
        padding: 20px;
        border-left: 1rem solid;
        border-image: linear-gradient(to bottom, #FF4B3B 0%,#FAE442 50%, #2AA8F2 100%) 1;
        border-radius: 25px;
    }
    header{
        background-color: black;
        color: white;
        padding: 50px;
        
        
    }
    h1{
        font-size: 130px;
        max-width: 12ch;
    }
    h3{
        font-size: 15px;
    }
    header h2{
        font-size: 50px;
    }
    header p{
        font-size: 15px;
    }
    header a{
        color: white;
        font-style: italic;
    }
    article{
        display: flex;
        /* border: 4px;
       outline-style: solid;
        outline-color: linear-gradient(to right, #FF4B3B, #FAE442, #2AA8F2); */
        margin-top: 20px;
        border-image: linear-gradient(to right, #FF4B3B 0%,#FAE442 50%, #2AA8F2 100%) 1;
        border-radius: 50%; /* this doesn't work */
        border-width: 10px;
        border-style: solid;
        padding: 25px;
        /* padding: 5px; */
        
    }
    #red{
        color: red;
        padding: 10px;

    }
    #red::before{
        content: '';
       display: inline-block;
       width: 25px;
       height: 25px;
       /* -moz-border-radius: 7.5px;
       -webkit-border-radius: 7.5px; */
       border-radius: 50%;
       background-color: #FF4B3B;
       padding: 10px;
       
       
    }
    p{
        line-height: 1.5;
        padding: 20px;
    }


}