
:root{
    --root-size: 100px;
    --fg-color:white;
    --line-hight: 1.5;
    }


body{
    background-color: black;
    color: white;
    font-size: var(--root-size);

    }

a{
    font-style: italic;
    }
    
header{
    max-width: 20ch;
    margin-left: 5rem;
    margin-right: 5rem;
        /* padding: 30px; */
    }

#subheader{
    width: 25ch;
}

.border{
    background-color: white;
    color: black;
    border-image: linear-gradient(to right, #FF4B3B 0%,#FAE442 50%, #2AA8F2 100%) 1;
    border-width: 10px;
    border-style: solid;
    margin-bottom: 60px;
    padding: 20px; 
    }      

h1{
    font-size: 48px;
    font-family: Jomolhari;
    padding-top: 7rem;
    margin: 1rem;
    width: 11ch;
    }

.break {
    display: block; 
    }

h2{
    font-size: 22px;
    font-family: Jomolhari;
    margin: 1rem;
    line-height: 2rem;
    text-align: left;
    }

h3{
    font-size: 18px;
    font-family: Inter;
    }

h4{
    font-size: 36px;
    margin: 1rem;
    padding-top: 1rem;

    }

#details{
    font-size: 12px;
    margin: 1rem;
    font-weight:300;
    }

p, blockquote{
    font-size: 16px;
    font-family: Inter;
    line-height: var(--line-hight);
    }

p{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    }

blockquote{
    font-style: italic;
    padding-left: 20px;    
    padding-right: 20px;
    margin-left: 2rem;
    border-left: .5rem solid;
    border-image: linear-gradient(to bottom, #FF4B3B 0%,#FAE442 50%, #2AA8F2 100%) 1;
    }

#summary{
    margin: 1rem;
    padding-bottom: 50px;
    font-weight: 200;
    }

aside{
    display:flex;
    }

.body{
    padding-bottom: 20px;
    
    }

span{
    text-decoration-thickness: 3px;
    }

.r, .o, .y, .g, .b, .brown, .bg, .lg{
    text-decoration: 3px underline;  
}

.r{
    text-decoration-color: #FF4B3B; 
    }

.o{
    text-decoration-color: #FE8350;   
    }

.y{
    text-decoration-color: #FBBE40;
    }
       
.g{
    text-decoration-color: #92C69A;
    }
        
.b{
    text-decoration-color: #2AA8F2;
    }

.brown{
    text-decoration-color: #654520;
    }

.bg{
    text-decoration-color: #5EB7C6;
    }

.lg{
    text-decoration-color: #F6F5F5;
    }
.v{
    text-decoration-color: #7E60BF;
    }
.p{
    text-decoration-color: #7A1CAC;
}

a {
    color: #2AA8F2; 
    transition: color 0.3s ease, border-bottom-color 0.3s ease; 
    text-decoration: underline;
    }

a:hover:active {
    color: darkblue; 
    }   

.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 10px;
    margin-right: .5rem;
    margin-left: 1rem;
    }

#red{
    background-color: #FF4B3B;
}

#red-orange{
    background-color: #FE713D;
}

#orange{
    background-color: #FE8350;
}

#orange-yellow{
    background-color: #FBBE40;
}

#yellow{
    background-color: #FAE442;
}

#yellow-green{
    background-color: #C6D56E;
}

#green{
    background-color: #92C69A;
}

#green-blue{
    background-color: #5EB7C6;
}

#blue{
    background-color: #2AA8F2;
}

#blue-purple{
    background-color: #2A7DF2;
}

#purple{
    background-color: #5C4DF7;
}

#purple-pink{
    background-color: #C875FF;
}

#pink{
    background-color: #FF75CA;
}

section aside{
    display: flex;
    align-items:first baseline;
    }

hr{
    border-image: linear-gradient(to right, #FF4B3B 0%,#FAE442 50%, #2AA8F2 100%) 1;
    border-bottom: 10px solid transparent;
    margin: 1rem;
    }

.header{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    }

#medium{
    float: left;
    }

#author{
    float: right;
    }

@media (min-width: 600px) {
    body{

        
        /* margin-left: 10rem;
        margin-right: 10rem; */

        
    }
    p{
        font-size: 18px;
    }
    .border{
        /* margin-left: 5rem;
        margin-right: 5rem; */
    }
    .block{
        display: flex;
	    flex-direction: row;
        
    }
    header{
        margin-left: 15rem;
        margin-right: 15rem;
        max-width: 50ch;
        
        
    }
   
    h2{
        font-size: 1.75rem;
        width: 15ch;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    aside {
        max-width: 10ch;
    }
    h1{
        font-size: 4rem;
        line-height: 6rem;
        padding-bottom: 1rem;
    }
    #details{
        font-size: 1rem;
    }
    .body{
        /* width: 200ch; */
        
        
    }
        
    }
     @media (max-width: 1024px){
        header{
            margin-left: 5rem;
            margin-right: 5rem;
            max-width: 50ch;
            
        }

    }


  
/* @media (max-width: 600px) and{
    body{
        padding: 1rem 15rem;
    }
    .block{
        display: flex;
	    flex-direction: row;
    }
    h2{
        font-size: 1.75rem;
        width: 25ch;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    aside {
        width: 30ch;
    }
    h1{
            font-size: 4rem;
            line-height: 6rem;
            padding-bottom: 1rem;
        }
        #details{
            font-size: 1rem;
        }
        
    } */
  